## Tarefa 1

gerar tabelas bivariadas relacionadas com a variavel resposta (sequela [sim/nao])

In [1]:
import pandas as pd

In [2]:
pd.options.display.max_columns = None

In [3]:
df = pd.read_excel('patogenese_covid.xlsx')

In [4]:
df.shape

(226, 144)

In [5]:
df.head()

,ID,grau,Idade,IMC,dias_internado,FIB-CAT,FVIII-CAT,FVW-AG-CAT,DD-CAT,AC LÚPICO(CONCLUSÃO),a-Cl-IGG-CAT,a-Cl-IGM-CAT,a-B2-IGG-CAT,a-B2-IGM-CAT,CONCLUSAO-SAAF,FVL-CAT,IL-6 1:2 (16/06/2022)pg/ml,IL-6 1:2 (final),IL-6-CAT,TNF-α 1:2 (16/06/2022)pg/ml,TNF-α 1:2 (final),TNF-α-CAT,Plaq,PLAQ-CAT,TS,HBA1c-CAT,Hb variante,TNF-A rs1800629,IL6 rs1800795,FV Leiden rs6025,FII rs1799963,MTHFR (C677T),LAUDO,grupo_classificacao,proced_ncia,data_coleta,genero,filhos,j_recebeu_transfus_o_de_sa,quantas_vezes1,grau_de_escolaridade_analfabeta,grau_de_escolaridade_fundamental_completo,grau_de_escolaridade_fundamental_incompleto,grau_de_escolaridade_medio_completo,grau_de_escolaridade_medio_incompleto,grau_de_escolaridade_superior_completo,grau_de_escolaridade_superior_incompleto,grau_de_escolaridade_outros_pos_tec,estado_civil,raca,pratica_atividade_fisica_regularmente,se_sim_qul_a_periodicidade,exame_pcr,paciente_assintom,dat_inicio_sint,dat_fim_sint,outras_pessoas_residencia_sintomas,sintomas_clinicos_ausculta_pulmonar,sintomas_clinicos_batimendo_da_asa_de_nariz,sintomas_clinicos_calafrios,sintomas_clinicos_cefaleia,sintomas_clinicos_cianose,sintomas_clinicos_coma,sintomas_clinicos_confusao_mental,sintomas_clinicos_congestao_nasal,sintomas_clinicos_conjutivite,sintomas_clinicos_convulsao,sintomas_clinicos_coriza,sintomas_clinicos_diarreia,sintomas_clinicos_falta_ar,sintomas_clinicos_dificuldade_engolir,sintomas_clinicos_dor_muscular,sintomas_clinicos_dor_na_garganta,sintomas_clinicos_dor_no_peito,sintomas_clinicos_exsudato_feringeo,sintomas_clinicos_fadiga,sintomas_clinicos_febre,sintomas_clinicos_fraqueza,sintomas_clinicos_irritabilidade,sintomas_clinicos_nausea_vomito,sintomas_clinicos_perda_olfato,sintomas_clinicos_perda_parcial_olfato,sintomas_clinicos_perda_paladar,sintomas_clinicos_perda_parcial_paladar,sintomas_clinicos_producao_escarro,sintomas_clinicos_saturacao_o2_lt_95,sintomas_clinicos_tosse,sintomas_clinicos_tontura,sintomas_clinicos_sem,sintomas_clinicos_outros,comorbidades_doenca_pulmonar_cronica,comorbidades_doenca_cardio_cronica,comorbidades_doenca_renal_cronica,comorbidades_doenca_hepatica_cronica,comorbidades_diabetes_mellitius,comorbidades_imunodeficiencia_hiv,comorbidades_tabagismo,comorbidades_neoplasia,comorbidades_avc,comorbidades_outras,comorbidades_sem,uso_de_medicamentos_nos_ultimos_10_dias,se_sim_anticoagulante_oral,se_sim_anticoncepcional,se_sim_anabolizante,se_sim_antiinflamatorio,se_sim_corticoide,se_sim_analgesico,se_sim_outros,trombose_familia,foi_vacinado_covid,quando,visitou_pronto_socorro,data_pronto_socorro,se_sim_qual_rede,ficou_internado_por_causa_covid,data_de_admissao_internado,data_de_alta,tempo_internacao,oxigenoterapia,trombose,setor_de_internacao,enoxoparina,utilizou_alguma_medicacao_em_casa,medicacoes_usadas_cloroquina,medicacoes_usadas_azitromicina,medicacoes_usadas_clavulin,medicacoes_usadas_oseltamivir,medicacoes_usadas_solumedrol,medicacoes_usadas_tosiluzumabe,medicacoes_usadas_ivermectina,medicacoes_usadas_dexametasona,medicacoes_usadas_outras,apresenta_alguma_sequela,se_sim_qual_quais_2___0,se_sim_qual_quais_2___1,se_sim_qual_quais_2___2,se_sim_qual_quais_2___3,se_sim_qual_quais_2___4,se_sim_qual_quais_2___5,se_sim_qual_quais_2___6,se_sim_qual_quais_2___7,se_sim_qual_quais_2___8,se_sim_qual_quais_2___9
0,1,GRAVE,56,29.6,2.0,Normal,Normal,Normal,Normal,AUSENTE,Negativo,Negativo,Negativo,Negativo,Negativo,Negativo,94.992,189.984,HIGH,24.400,30,Normal,203,Normal,B+,Normoglicemia,AA,G/G,G/G,C/C,G/G,C/C,SIM,2,0.0,2020-07-30T00:00:00Z,1,2.0,0,NaN,0,0,0,0,0,0,0,1,1,2,0,NaN,1,0.0,2020-05-20T00:00:00Z,2020-06-12T00:00:00Z,0,0,1,1,1,0,0,1,1,0,0,1,0,1,1,1,1,1,1,1,1,1,1,1,1,1,0,1,0,1,1,1,1,0,0,1,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,NaN,0,NaN,1.0,2020-05-20T00:00:00Z,0.0,1,2020-05-27 00:00:00,2020-05-29 00:00:00,2.0,1.0,0.0,0.0,1.0,1,0,0,0,0,0,0,1,0,0,0.0,0,0,0,0,0,0,0,0,0,0
1,2,GRAVE,68,28.4,5.0,Normal,Normal,Normal,Normal,AUSENTE,Negativo,Negativo,Negativo,Negativo,Negativo,Negativo,1.844,3,Normal,19.912,30,Normal,198,Normal,AB+,Pré-diabetes,AS,G/G,G/G,C/C,G/G,C/C,SIM,2,0.0,2020-08-25T00:00:00Z,0,NaN,0,NaN,0,0,1,0,0,0,0,0,4,2,1,1.0,1,0.0,2020-06-01T00:00:00Z,2020-06-15T00:00:00Z,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,1,1.0,0,NaN,1.0,2020-06-10T00:00:00Z,0.0,1,2020-06-10T00:00:00Z,2020-06-15T00:00:00Z,NaN,1.0,0.0,0.0,1.0,1,0,0,0,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0
2,3,GRAVE,68,23.8,12.0,Normal,Normal,Normal,Normal,AUSENTE,Negativo,Negativo,Negativo,POSITIVO,POSITIVO,Negativo,1.114,3,Normal,17.407,30,Normal,226,Normal,O+,Pré-diabetes,AA,G/G,G/G,C/C,G/G,NaN,SIM,1,2.0,2020-08-22T00:00:00Z,0,NaN,0,NaN,0,1,0,0,0,0,0,0,1,0,0,NaN,1,0.0,2020-02-12T00:00:00Z,2020-03-15T00:00:00Z,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,1,0,0,0,1,1,0,0,1,0,1,1,0,0,1,0,1,0,0,1,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,1.0,0,NaN,1.0,2020-02-17T00:00:00Z,0.0,1,2020-02-17T00:00:00Z,2020-02-29T00:00:00Z,NaN,2.0,0.0,1.0,1.0,1,0,0,0,0,0,0,0,0,1,0.0,0,0,0,0,0,0,0,0,0,0
3,4,GRAVE,32,36.0,8.0,HIGH,HIGH,Normal,Normal,AUSENTE,Negativo,Negativo,Negativo,Negativo,Negativo,Negativo,1.329,3,Normal,19.932,30,Normal,333,Normal,A+,Diabetes,AA,A/G,G/G,C/C,G/G,C/T,SIM,2,0.0,2020-07-20T00:00:00Z,0,NaN,0,NaN,0,0,0,0,0,0,1,0,0,4,1,2.0,1,0.0,2020-06-01T00:00:00Z,2020-06-19T00:00:00Z,1,0,1,1,1,1,0,0,1,0,0,1,0,1,0,1,1,1,1,0,1,1,1,0,0,1,0,1,0,0,1,0,1,0,1,1,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,NaN,0,NaN,1.0,2020-06-11T00:00:00Z,0.0,1,2020-06-11T00:00:00Z,2020-06-19T00:00:00Z,NaN,2.0,0.0,0.0,1.0,1,0,1,0,0,0,0,1,1,1,1.0,1,0,0,0,0,0,0,0,1,0
4,5,GRAVE,63,27.4,9.0,HIGH,HIGH,HIGH,HIGH,AUSENTE,Negativo,Negativo,Negativo,Negativo,Negativo,POSITIVO,629,3,Normal,1.689,30,Normal,242,Normal,AB+,Pré-diabetes,AA,G/G,G/G,C/C,G/G,C/T,SIM,2,0.0,2020-09-03T00:00:00Z,0,NaN,0,NaN,0,0,0,0,0,1,0,0,1,0,0,NaN,1,0.0,2020-06-17T00:00:00Z,2020-07-06T00:00:00Z,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,1,1,1,0,0,1,0,0,0,0,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1.0,0,NaN,1.0,2020-06-27T00:00:00Z,0.0,1,2020-06-27T00:00:00Z,2020-07-06T00:00:00Z,NaN,1.0,0.0,0.0,1.0,1,0,0,0,0,0,0,1,0,0,1.0,1,0,0,0,0,0,0,0,0,0

In [6]:
df['grau'] = pd.Categorical(df['grau'], categories = ['LEVE', 'MED', 'GRAVE'])

In [30]:
from scipy.stats import chi2_contingency



def bivariada_sequela(coluna):
    # display(df.groupby(coluna)['apresenta_alguma_sequela'].value_counts(normalize=True).unstack().T)
    display(df.groupby('apresenta_alguma_sequela')[coluna].value_counts().unstack().fillna(0))
    display(df.groupby(coluna)['apresenta_alguma_sequela'].value_counts(normalize=True).unstack().fillna(0).T)
    # display(chi2_contingency(df.groupby('apresenta_alguma_sequela')[coluna].value_counts().unstack()))

# bivariada_sequela('grau')

In [31]:
categoricas = [c for c in  df.select_dtypes(include='object').columns.to_list() if 'dat' not in c and 'quando' not in c]

drop_this = ['IL-6 1:2 (16/06/2022)pg/ml', 'IL-6 1:2 (final)', 'TNF-α 1:2 (final)']

categoricas = [c for c in categoricas if c not in drop_this]

In [32]:
columns_to_remove = ['ID']
for c in categoricas:
    
    print("*" * 50)
    print(c)
    bivariada_sequela(c)

**************************************************
FIB-CAT

FIB-CAT                   HIGH  LOW  Normal
apresenta_alguma_sequela
0.0                         12    1      45
1.0                         40    4     123

FIB-CAT                       HIGH  LOW    Normal
apresenta_alguma_sequela
0.0                       0.230769  0.2  0.267857
1.0                       0.769231  0.8  0.732143

**************************************************
FVIII-CAT

FVIII-CAT                 HIGH  LOW  Normal
apresenta_alguma_sequela
0.0                       22.0  0.0    36.0
1.0                       79.0  1.0    87.0

FVIII-CAT                     HIGH  LOW    Normal
apresenta_alguma_sequela
0.0                       0.217822  0.0  0.292683
1.0                       0.782178  1.0  0.707317

**************************************************
FVW-AG-CAT

FVW-AG-CAT                HIGH  Normal
apresenta_alguma_sequela
0.0                         17      41
1.0                         59     108

FVW-AG-CAT                    HIGH    Normal
apresenta_alguma_sequela
0.0                       0.223684  0.275168
1.0                       0.776316  0.724832

**************************************************
DD-CAT

DD-CAT                    HIGH  Normal
apresenta_alguma_sequela
0.0                          6      52
1.0                         34     133

DD-CAT                    HIGH    Normal
apresenta_alguma_sequela
0.0                       0.15  0.281081
1.0                       0.85  0.718919

**************************************************
AC LÚPICO(CONCLUSÃO)

AC LÚPICO(CONCLUSÃO)      AUSENTE  PRESENTE
apresenta_alguma_sequela
0.0                            54         4
1.0                           144        23

AC LÚPICO(CONCLUSÃO)       AUSENTE  PRESENTE
apresenta_alguma_sequela
0.0                       0.272727  0.148148
1.0                       0.727273  0.851852

**************************************************
a-Cl-IGG-CAT

a-Cl-IGG-CAT              Negativo  POSITIVO
apresenta_alguma_sequela
0.0                             57         1
1.0                            162         5

a-Cl-IGG-CAT              Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       0.260274  0.166667
1.0                       0.739726  0.833333

**************************************************
a-Cl-IGM-CAT

a-Cl-IGM-CAT              Negativo  POSITIVO
apresenta_alguma_sequela
0.0                             57         1
1.0                            164         3

a-Cl-IGM-CAT              Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       0.257919      0.25
1.0                       0.742081      0.75

**************************************************
a-B2-IGG-CAT

a-B2-IGG-CAT              IND  Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       1.0      57.0       0.0
1.0                       2.0     162.0       3.0

a-B2-IGG-CAT                   IND  Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       0.333333  0.260274       0.0
1.0                       0.666667  0.739726       1.0

**************************************************
a-B2-IGM-CAT

a-B2-IGM-CAT              Negativo  POSITIVO
apresenta_alguma_sequela
0.0                             56         2
1.0                            162         5

a-B2-IGM-CAT              Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       0.256881  0.285714
1.0                       0.743119  0.714286

**************************************************
CONCLUSAO-SAAF

CONCLUSAO-SAAF            IND  Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       1.0      51.0       6.0
1.0                       0.0     135.0      32.0

CONCLUSAO-SAAF            IND  Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       1.0  0.274194  0.157895
1.0                       0.0  0.725806  0.842105

**************************************************
FVL-CAT

FVL-CAT                   Negativo  POSITIVO
apresenta_alguma_sequela
0.0                             57         1
1.0                            163         4

FVL-CAT                   Negativo  POSITIVO
apresenta_alguma_sequela
0.0                       0.259091       0.2
1.0                       0.740909       0.8

**************************************************
IL-6-CAT

IL-6-CAT                  HIGH  Normal
apresenta_alguma_sequela
0.0                          7      51
1.0                         52     115

IL-6-CAT                      HIGH    Normal
apresenta_alguma_sequela
0.0                       0.118644  0.307229
1.0                       0.881356  0.692771

**************************************************
TNF-α-CAT

TNF-α-CAT                 HIGH  Normal
apresenta_alguma_sequela
0.0                         13      45
1.0                         83      84

TNF-α-CAT                     HIGH    Normal
apresenta_alguma_sequela
0.0                       0.135417  0.348837
1.0                       0.864583  0.651163

**************************************************
PLAQ-CAT

PLAQ-CAT                  HIGH  LOW  Normal
apresenta_alguma_sequela
0.0                        0.0  2.0    56.0
1.0                        2.0  2.0   163.0

PLAQ-CAT                  HIGH  LOW    Normal
apresenta_alguma_sequela
0.0                        0.0  0.5  0.255708
1.0                        1.0  0.5  0.744292

**************************************************
TS

TS                          A+   A-  AB+  AB-    B+   B-    O+    O-
apresenta_alguma_sequela
0.0                       17.0  1.0  3.0  1.0   6.0  1.0  25.0   4.0
1.0                       58.0  9.0  6.0  0.0  13.0  1.0  70.0  10.0

TS,A+,A-,AB+,AB-,B+,B-,O+,O-
apresenta_alguma_sequela,,,,,,,,
0.0,0.226667,0.1,0.333333,1.0,0.315789,0.5,0.263158,0.285714
1.0,0.773333,0.9,0.666667,0.0,0.684211,0.5,0.736842,0.714286

**************************************************
HBA1c-CAT

HBA1c-CAT                 Diabetes  Normoglicemia  Pré-diabetes
apresenta_alguma_sequela
0.0                              5             34            18
1.0                             21             96            48

HBA1c-CAT                 Diabetes  Normoglicemia  Pré-diabetes
apresenta_alguma_sequela
0.0                       0.192308       0.261538      0.272727
1.0                       0.807692       0.738462      0.727273

**************************************************
Hb variante

Hb variante                  AA   AC   AS   NR
apresenta_alguma_sequela
0.0                        52.0  0.0  5.0  1.0
1.0                       160.0  1.0  4.0  1.0

Hb variante                     AA   AC        AS   NR
apresenta_alguma_sequela
0.0                       0.245283  0.0  0.555556  0.5
1.0                       0.754717  1.0  0.444444  0.5

**************************************************
TNF-A rs1800629

TNF-A rs1800629           A/A   A/G    G/G
apresenta_alguma_sequela
0.0                       2.0  13.0   43.0
1.0                       0.0  43.0  124.0

TNF-A rs1800629           A/A       A/G       G/G
apresenta_alguma_sequela
0.0                       1.0  0.232143  0.257485
1.0                       0.0  0.767857  0.742515

**************************************************
IL6 rs1800795

IL6 rs1800795             C/C  C/G  G/G
apresenta_alguma_sequela
0.0                         4   23   31
1.0                        13   78   76

IL6 rs1800795                  C/C       C/G      G/G
apresenta_alguma_sequela
0.0                       0.235294  0.227723  0.28972
1.0                       0.764706  0.772277  0.71028

**************************************************
FV Leiden rs6025

FV Leiden rs6025          C/C  C/T
apresenta_alguma_sequela
0.0                        57    1
1.0                       165    2

FV Leiden rs6025               C/C       C/T
apresenta_alguma_sequela
0.0                       0.256757  0.333333
1.0                       0.743243  0.666667

**************************************************
FII rs1799963

FII rs1799963             A/G  G/G
apresenta_alguma_sequela
0.0                         1   57
1.0                         5  162

FII rs1799963                  A/G       G/G
apresenta_alguma_sequela
0.0                       0.166667  0.260274
1.0                       0.833333  0.739726

**************************************************
MTHFR (C677T)

MTHFR (C677T)               ?   C/C   C/T  T/T
apresenta_alguma_sequela
0.0                       0.0  20.0  24.0  5.0
1.0                       1.0  68.0  52.0  9.0

MTHFR (C677T)               ?       C/C       C/T       T/T
apresenta_alguma_sequela
0.0                       0.0  0.227273  0.315789  0.357143
1.0                       1.0  0.772727  0.684211  0.642857

**************************************************
LAUDO

LAUDO                     NÃO    SIM
apresenta_alguma_sequela
0.0                       0.0   58.0
1.0                       1.0  166.0

LAUDO                     NÃO       SIM
apresenta_alguma_sequela
0.0                       0.0  0.258929
1.0                       1.0  0.741071